body {
  background-color: rgb(30, 30, 30);
}

html {
  box-sizing: border-box;
}

.l-wrap {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.three-col-grid .grid-item {
  width: 33.33333%;
  float: left;
}

.three-col-grid::after {
  display: table;
  clear: both;
  content: '';
}